!!! 5
%html{ :lang => "en" }
  %head
    %title Made in Amsterdam
    %meta{ :charset => "utf-8" }/
    %meta{ "http-equiv" => "X-UA-Compatible", :content => "IE=edge,chrome=1" }/
    %meta{ :name => "viewport", :content => "width=device-width, minimum-scale=1.0, maximum-scale=1.0" }/
    %meta{ :name => "description", :content => "Made in Amsterdam. A list of tech companies crafting products in Amsterdam." }/
    %meta{ :name => "keywords", :content => "Made in Amsterdam, amsterdam, tech, technology, products" }/

    /[if IE]
      = stylesheet_link_tag    "ie/ie", :media => "all"

    /[if lt IE 9]
      = javascript_include_tag "html5shiv.js"
      = stylesheet_link_tag    "ie/ie8", :media => "all"

    = link_favicon_tag "images/favicon.png"
    = link_favicon_tag "images/apple-touch-icon-precomposed.png", :rel => "apple-touch-icon-precomposed", :type => "image/png"
    = stylesheet_link_tag "stylesheet/application.css"
    = javascript_include_tag "all"
    = javascript_include_tag "https://use.typekit.net/klt2kdx.js"
    %script(type="text/javascript") try{Typekit.load();}catch(e){}

  %body

    %header.wrap{ :role => "banner" }
      .container
        %a.logo{ :href => "#" }
          =image_tag "images/logo-mams@2x.png"
          %strong
            Made in Amsterdam

        %hr.mams-border

        %nav.nav{ :role => "navigation" }
          %ul
            %li.active
              %a{ :href => "#" }
                Home
            %li
              %a{ :href => "about.html" }
                About
            %li
              %a{ :href => "https://twitter.com/madeinamsterdam" }
                Twitter
            %li
              %a{ :href => "https://www.facebook.com/pages/Made-in-Amsterdam" }
                Facebook

    %header.wrap#page-title
      .container
        %h1
          Startups passionately crafting products in Amsterdam.
        %a{ :href => "about.html" }
          Join the list

    %section#home{:role => "main" }
      .container
        %ul#company-list
          %li
            %a#twelveactive{ :href => "http://www.12active.com" }
              =image_tag "images/logo-12active.png"
              %h2
                12Active
          %li
            %a#twentytwotracks{ :href => "http://22tracks.com" }
              =image_tag "images/logo-22tracks.png"
              %h2
                22tracks
          %li
            %a#adgibbon{ :href => "http://www.adgibbon.com" }
              =image_tag "images/logo-adgibbon.png"
              %h2
                AdGibbon
          %li
            %a#bottlenose{ :href => "http://bottlenose.com" }
              =image_tag "images/logo-bottlenose.png"
              %h2
                Bottlenose
          %li
            %a#ebuddy{ :href => "http://www.ebuddy.com" }
              =image_tag "images/logo-ebuddy.png"
              %h2
                eBuddy
          %li
            %a#efaqt{ :href => "http://www.efaqt.com" }
              =image_tag "images/logo-efaqt.png"
              %h2
                Efaqt
          %li
            %a#hyves{ :href => "http://www.hyves.nl" }
              =image_tag "images/logo-hyves.png"
              %h2
                Hyves
          %li
            %a#karma{ :href => "http://www.yourkarma.com" }
              =image_tag "images/logo-karma.png"
              %h2
                Karma
          %li
            %a#layar{ :href => "http://www.layar.com" }
              =image_tag "images/logo-layar.png"
              %h2
                Layar
          %li
            %a#mobypicture{ :href => "http://www.mobypicture.com" }
              =image_tag "images/logo-mobypicture.png"
              %h2
                Mobypicture
          %li
            %a#olery{ :href => "http://www.olery.com" }
              =image_tag "images/logo-olery.png"
              %h2
                Olery
          %li
            %a#mollie{ :href => "http://www.mollie.nl" }
              =image_tag "images/logo-mollie.png"
              %h2
                Mollie
          %li
            %a#partywithalocal{ :href => "http://app.partywithalocal.com" }
              =image_tag "images/logo-partywithalocal.png"
              %h2
                Party with a Local
          %li
            %a#peecho{ :href => "http://www.peecho.com" }
              =image_tag "images/logo-peecho.png"
              %h2
                Peecho
          %li
            %a#perspagina{ :href => "http://www.perspagina.nl" }
              =image_tag "images/logo-perspagina.png"
              %h2
                PersPagina
          %li
            %a#pressdoc{ :href => "http://pressdoc.com" }
              =image_tag "images/logo-pressdoc.png"
              %h2
                Pressdoc
          %li
            %a#readmore{ :href => "http://readmo.re" }
              =image_tag "images/logo-readmore.png"
              %h2
                Readmore
          %li
            %a#sellanapp{ :href => "http://www.sellanapp.com" }
              =image_tag "images/logo-sellanapp.png"
              %h2
                SellanApp
          %li
            %a#silkapp{ :href => "http://www.silkapp.com" }
              =image_tag "images/logo-silkapp.png"
              %h2
                Silk
          %li
            %a#skylines{ :href => "http://skylin.es" }
              =image_tag "images/logo-skylines.png"
              %h2
                Skylin.es
          %li
            %a#slideshots{ :href => "http://slideshots.com" }
              =image_tag "images/logo-slideshots.png"
              %h2
                Slideshots
          %li
            %a#socialintern{ :href => "http://www.socialintern.com" }
              =image_tag "images/logo-socialintern.png"
              %h2
                Social Intern
          %li
            %a#springest{ :href => "http://www.springest.nl" }
              =image_tag "images/logo-springest.png"
              %h2
                Springest
          %li
            %a#studenttutors{ :href => "http://studenttutors.nl" }
              =image_tag "images/logo-studenttutors.png"
              %h2
                StudentTutors
          %li
            %a#studyflow{ :href => "http://www.studyflow.nl" }
              =image_tag "images/logo-studyflow.png"
              %h2
                StudyFlow
          %li
            %a#twittercounter{ :href => "http://twittercounter.com" }
              =image_tag "images/logo-twittercounter.png"
              %h2
                Twittercounter
          %li
            %a#usabilla{ :href => "http://usabilla.com" }
              =image_tag "images/logo-usabilla.png"
              %h2
                Usabilla
          %li
            %a#wakoopa{ :href => "http://wakoopa.com" }
              =image_tag "images/logo-wakoopa.png"
              %h2
                Wakoopa
          %li
            %a#wappzapp{ :href => "http://wappzapp.tv" }
              =image_tag "images/logo-wappzapp.png"
              %h2
                wappZapp
          %li
            %a#wetransfer{ :href => "https://www.wetransfer.com" }
              =image_tag "images/logo-wetransfer.png"
              %h2
                Wetransfer
          %li
            %a#zeker{ :href => "http://zeker.com" }
              =image_tag "images/logo-zeker.png"
              %h2
                Zeker.com

    %footer.center{ :role => "footer" }
      %a{ :href => "#" }
        %img{ :src => "images/logo-mams-small-black@2x.png" }
      %p
        %strong
          Made in Amsterdam
        %em
          Je Maintiendrai.